.box-container {
  display: flex;
  column-gap: 10px;
  height: 100%;
}

.box {
  width: 50px;
  height: 50px;
  background-color: #3498db;
  margin: 10px;
  animation: moveDownAndRight 2s linear infinite;
}

@keyframes moveDownAndRight {
  0% {
    transform: translateY(0) translateX(0);
  }

  50% {
    transform: translateY(calc(100vh - 50px));
  }

  100% {
    transform: translateX(calc(100vw - 50px)) translateY(calc(100vh - 50px));
  }
}

.change-color {
  color: black;
  animation: change 2s linear infinite;
}

@keyframes change {
  0% {
    color: black;
  }
  33% {
    color: green;
  }
  66% {
    color: yellow;
  }
}
